%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flex-column {
  @extend %flex;

  flex-direction: column;
}

%khula-font {
  font-family: Khula, sans-serif;
  letter-spacing: 6px;
}

.container {
  @extend %flex-column;

  height: 100vh;
  width: 100vw;
  background-color: var(--bg);
  overflow: hidden;
}

.logo {
  @extend %flex;

  color: var(--light);
  margin-top: 1rem;
  font-size: 17vw;

  & > p {
    padding-left: 2rem;
    margin: 0;
  }
}

.animated {
  @extend %flex-column;

  margin: 3rem 0;

  & > div {
    width: 100%;
  }

  & span {
    display: inline-block;
  }

  & .letterize {
    @extend %flex;
    @extend %khula-font;

    width: 100%;
    color: var(--light);
    margin: 1rem 0;
    font-size: 2vw;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.2;
  }

  %box {
    position: relative;
    height: 0.2rem;
    width: 2rem;
    background-color: var(--light);
  }

  & .box1 {
    @extend %box;

    left: 0%;
  }

  & .box2 {
    @extend %box;

    left: 100%;
  }
}

.btnWrapper {
  @extend %flex;
}

.btn {
  @extend %flex;

  color: var(--bg);
  background-color: var(--light);
  padding: 1rem 2rem;
  margin: 5rem 3rem 13rem;
  border: none;
  border-radius: 5px;
  text-transform: uppercase;
  box-shadow: -1px 1px 3px #fffdfd41;
  transition: all 0.3s ease-in-out;
}

.footer {
  @extend %khula-font;

  position: absolute;
  bottom: 2rem;
  color: var(--light);
  font-size: 0.8rem;
}
