.content {
  display: flex;
  justify-content: center;
  padding: 11rem 0 0;
}

.layout {
  background-color: #888;
}

.page {
  z-index: 1;
  min-height: 1130px;
  width: 790px;
  background: #dbdbdb;
  box-shadow: -2px 2px 10px #000000c5;
}

.footer {
  text-align: center;
  font-size: 1.4rem;
  background-color: #888;
  color: #dbdbdb;
  text-shadow: -1px 1px 3px #000000c5;
  padding: 4rem 5rem 3rem;
}

.editorWrapper {
  box-sizing: content-box;
}

.toolbar {
  position: fixed;
  justify-content: center;
  width: 100%;
  padding: 2.4rem 0 0.8rem;
  z-index: 101;
  top: 53px;
  left: 0;
  border-radius: 0 0 1rem 1rem;
  box-shadow: -1px 2px 12px #000000c5;
  border: none;
  background-color: #3590e6;
  
  & div {
    box-sizing: content-box;
  }
}

.editor {
  font-family: Verdana, sans-serif;
  font-size: 24px;
  padding: 5rem 3rem;
  overflow: clip;
  
  & div {
    margin: 0 0.5rem;
  }
  & span {
    width: 690px;
  }
}
