.header {
  position: fixed;
  z-index: 102;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--bg);
  padding: 0 14rem 0 4.5rem;
  box-sizing: border-box;
  box-shadow: -1px 2px 12px var(--black);
  border-radius: 0 0 1rem 1rem;
  overflow: hidden;
  transition: top 0.6s, background 0.4s ease-in-out;
}

.headerHidden {
  top: -70px;
}

.headerOpen {
  top: 0;
}

.menu {
  display: flex;
  justify-content: flex-end;
  color: var(--light);
  background: var(--bg);
  border: none;

  & > * {
    & > span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      color: var(--light);
      background: var(--bg);
      font-size: 2rem;
      transition: all 0.4s ease-in-out;

      &:hover {
        color: var(--primary);
        background: var(--light);
        transition: all 0.4s ease-in-out;
      }
    }
  }
}

.menuItem {
  width: 120px;
  padding: 0 !important;
  margin: 0;

  &::after {
    color: inherit !important;
    border-bottom: none !important;
  }
}

.rightMenu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 380px;
}

.title {
  margin: 0 1rem;
}

.logo {
  display: flex;
  align-items: center;
  height: 70%;
  width: 150px;
  color: var(--light);
  padding: 0.5rem;
  font-size: 3.5rem;
}

.switch {
  position: absolute;
  right: 4.5rem;
  display: flex;
  justify-content: center;
  background: var(--dark-bg);
  margin: 0 2rem;

  &:focus {
    box-shadow: 0 0 0 1px var(--light);
  }
}

.switchChecked {
  background: var(--primary);
}
