// ***************************
// Put here some global styles
// ***************************

@import "normalize.css";
@import "antd/dist/antd.css";
@import "react-toastify/dist/ReactToastify.css";

:root {
  font-size: 10px;

  // dark-theme
  --dark-bg: #1f1f1f;
  --dark-primary: #2082e3;
  --dark-secondary: #8395a7;
  --dark-light: #e6e2e2;

  // light-theme
  --light-bg: #576574;
  --light-primary: #39a2db;
  --light-secondary: #b8cfe7;
  --light-light: #f4f4f4;

  // common colors
  --black: #0e0e0e;

  // toast colors
  --toastify-color-info: var(--primary); // info-dark
  --toastify-color-success: #0e8f6e; // success-dark
  --toastify-color-error: #d32f2f; // error-dark

  // vars
  --bg: var(--dark-bg);
  --primary: var(--dark-primary);
  --secondary: var(--dark-secondary);
  --light: var(--dark-light);
}

#root {
  display: flex;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: #888;
  padding: 0;
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Fira Sans",
    "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    "Courier New",
    monospace;
}
